#-e git+https://github.com/kesshijordan/dipy.git@7e494d82201a313d876ab3b707788723d8476fe8#egg=dipy
#-e git+https://github.com/tyiannak/pyAudioAnalysis.git@bd3097b36b62b432897dd8c67aba1b1bd7d2f2f7#egg=pyAudioAnalysis
Flask==1.0.2
matplotlib==2.2.3
librosa==0.6.2
numpy==1.14.0
pandas==0.23.4
scikit-learn==0.19.2
scipy==1.1.0
seaborn==0.9.0
simplejson==3.16.0
Werkzeug==0.14.1
